.head-title{
  display: flex;
  text-align: center;
  justify-content: center;
  border-bottom: 1px solid black;
}
.list{
  display:  flex;
  list-style-type: none;
  justify-content: space-around;
}
.list{
  text-decoration: none;
  font-size: larger;
  background-color: bisque;
  height: 50px;
}